@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width:576px) {
    .carousel-item img {
        height: 450px;
    }

    .small-device img {
        width: 335px;
        height: 224px;
    }



}

@media screen and (min-width:576px) and(max-width:992px) {}